html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/simbolo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-flow: row nowrap;
    
    height: 100vh;
}

.btn-1 {
    text-align: center;
    margin-top: 20px;
}

.logo-principal {
    max-width: 250px;
    text-align: center;
    /* border: 2px solid blue; */
}

.container {
    background: rgba(66, 11, 1, 0.5);
    /* border: 3px solid red; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 60%;
}

p {
    margin-block-start: 0em;
}

.btn-2{
    margin: 0px;
    font-size: 23px;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
    font-family: "Lato", sans-serif;
    margin-right: 50px;
    margin-left: 50px;
    padding-left: 20px;  
    padding-right: 20px;  
    /* border: 3px solid orange; */
}

.btn-3{
    margin: 0px;
    font-size: 18px;
    color: white;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.6);
    font-family: "Lato", sans-serif;
    vertical-align: middle;
    min-height: 10em;
    font-weight: bold;
    text-align: justify;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    padding: 0px;
    /* border: 3px solid green; */
}

.green-font {
    color: #0AC679;
    font-size: 900;
}

 .btn-5{
     margin-left: 400px;
     width: 200px;
     height: 200px;
     position: absolute;
 }

 .btn-6{
     margin-left: 500px;
 }

.container-form {
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
}

.form-title {
    max-width: 450px;
    font-size: 23px;
    color: #0AC679;
    font-family: "Lato", sans-serif;
    /* border: 1px solid red; */
}

.form-control {
    width: 450px;
    height: 60px;
    border-radius: 500px;
    margin-top: 20px;
}

input {
    border-style: none;
    border: 1px solid #0AC679;
    font: 300 20px Arial;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
}

input:focus {
    box-shadow: 0 0 0 1.2pt #006039;
    /* border: 0 none; */
    outline: 0 none;

}

.submit-button {
    margin-top: 0px;
    transition-property: all;
    transition-duration: .35s;
    transition-timing-function: ease;
    background-color: #0AC679;
    border-radius: 500px;
    width: 450px;
    padding: 30px 0px 30px 0px;
    /* height: 90px; */
    /* border: 2px solid #006039; */
    margin-top: 50px;
    font-family: "Lato", sans-serif;
    font-size: 23px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.submit-button:hover {
    background-color: #006039;
    cursor: pointer;
}