html {
    /* max-width: 375px;     */
    /* border: 3px solid green; */
    /* height: 700px; */
}
body {
    background-position: center;
}
main {
    /* max-width: 375px;     */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background: rgba(66, 11, 1, 0.5);
    height: 100vh;
    /* border: 3px solid green; */

}

.logo-principal {
    max-width: 200px;
    text-align: center;
    /* border: 2px solid blue; */
}

.container {
    background: none;
    width: 100%;
    /* height: 100%; */
    justify-content: flex-start;
    max-width: 320px;
    /* border: 2px solid blue; */
}


.btn-2{
    font-size: 12px;
    margin: 0px 15px 0px 15px;
    padding: 0px;
    /* border: 3px solid orange; */
}

.btn-3{
    max-width: 320px;
    margin: 0px;
    font-size: clamp(.55em, .6em + 1vw, .75em);
    color: white;
    margin: 0px 15px 0px 15px;
    padding: 0px;
    max-height: 82px;
    min-height: 0px;
    /* border: 3px solid green; */
}

.hide-text {
    display: none;
}

.container-form {
    /* height: 100%; */
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    /* align-items: center; */
    /* border: 1px solid red; */
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 0px;
}

.form-title {
    margin-top: 0px;
    max-width: 300px;
    font-size: 15px;
    color: white;
    font-family: "Lato", sans-serif;
    /* border: 1px solid red; */
}

.form-title h2 {
    margin: 20px 0px 20px 0px;
}

.container-form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid red; */
    text-align: center;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}


.form-control {
    /* max-width: 100vh; */
    width: 100%;    
    height: 40px;
    border-radius: 500px;
    margin-top: 5px;
}
.form-group {
    width: 295px;
    margin: 0px;
}

input {
    font: 305 20px Arial;
}

.submit-button {
    order: 1;
    border-radius: 0px;
    width: auto;
    max-width: 100%;
    padding: 20px 15px 20px 15px;
    border-radius: 500px;
    box-sizing: border-box;
    /* height: 90px; */
    /* border: 2px solid #006039; */
    margin-top: 5px;
    font-family: "Lato", sans-serif;
    font-size: 23px;
    color: white;
    /* font-weight: bold; */
    text-decoration: none;
    margin-bottom: 20px;
}
