/* 
p.btn-2{
    margin-left: 100px;
    width: 20em;
    font-size: 18px;
    color: white;
    position: absolute;
    margin-top: 100px;
    display: table cell;
    vertical-align: middle;
    min-height: 10em;
    font-weight: bold;
    text-align: justify;
}

h2.btn-3{
    margin-left: 100px;
    width: 20em;
    font-size: 25px;
    color: white;
    position: absolute;
    margin-top: 50px;
    display: table cell;
    vertical-align: middle;
    min-height: 10em;
    font-weight: bold;
    text-align: justify;
    text-align: center;

}


.btn-4 {
     background-image: url("ïmg/simbolo.jpeg");
     background-repeat: no-repeat;
     background-size: cover;
     position: fixed;
     width: 100vw;
     height: 100vh;
     flex-direction: row;
     overflow-x: hidden;

 }

 .btn-5{
     margin-left: 400px;
     width: 200px;
     height: 200px;
     position: absolute;
 }

 .btn-6{
     margin-left: 500px;
 }

 @media screen and (max-width: 768px) {
     elemento {
         background: url("img/simbolo.jpeg");
     }
 }

 .py-5{
     color: black;
     margin-left: 800px;
     margin-top: 300px;
     position: absolute;
     } */